@{
    var returnUrl = Url.Action("Index", "Admin");
}

<div class="modal fade blog-search" id="blog-search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <form role="search" asp-controller="Blog" asp-action="Index" method="post">
                    <input type="search" id="term" name="term" class="form-control form-control-lg" placeholder="Search..." autocomplete="off">
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="blog-footer" style="background-color:#000; color:#fff; padding:50px;">
    <div class="d-lg-flex text-lg-left">
        <img src="/lib/img/logo-plain.png" width="100" height="45" />
        <div style="padding-left:25px;">
            <a href="#">ABOUT</a> <a href="#">SOLUTIONS</a> <a href="#">SERVICE</a> <a href="#">QUOTES</a> <a href="#">CONTACT US</a>
        </div><br clear="all" />

        <div class="ml-auto">
            <a href="/admin">Admin</a>
        </div>
    </div>
    <div style="font-size:10px; padding-top:10px;">
        Copyright © 2019 Metro Insurance Services. All Rights Reserved. Metro Insurance Services and the Metro logo are registered trademarks of Teknixs Services, Inc. Licensed by the California Department of Insurance (#OB95215).
    </div>
</footer>
@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/standard/js/jquery.min.js"></script>
<script src="~/themes/standard/js/popper.min.js"></script>
<script src="~/themes/standard/js/bootstrap.min.js"></script>
<script src="~/themes/standard/js/prism.js"></script>
<script src="~/themes/standard/js/blog.js" asp-append-version="true"></script>